trace {
    enabled = true
    file = 'trace_pipeline.txt'
    fields = 'task_id,name,container,hash,status,exit,start,realtime,duration,%cpu,rss,vmem'
    raw = true
}

profiles {

  standard {
  
  }
  pbstorque {
     process.executor = 'pbs'
     process.queue = 'long'
     process.clusterOptions = '-l nodes=1'
  }
}
